h1, h2, h3 { margin: auto; color: #cc0000; }
h1 {color:tagColor; h1new : h1jjj;}
div { margin-bottom: 20px; padding: 10px; }
#answer { display: none; }
#main {width: idWidth;}
div.a{width: Tag_classWidth;}
html{color: 001;}
div.a{height:div.aHeight;}
.a {position:classPosition; height1:.aClassHeight;}
span{ color:textColor;}
.test{position:testPosition;}
