h2{width:h2Width;}
h2{width:h2newWidth;}
h1, h2, h3 { margin: auto; color: #cc0000; }
#main{}
div.a{color:div.aColor; width:div.aWidth;}
div.test.test{width:test.testWidth;}
div.test{color:div.testColor; width:div.testWidth;}

div.a.test#main{width: .a.testWidth;}
.a {height:.aHeight;}

div { margin-bottom: 20px; padding: 10px; }
div {color:divColor; gg: gg;}
#answer { display: none; }
